$font_lexend: lexend, System-UI;
$color-btnDownloadHorario: #001264;
$sombra-input: 2px 1px 10px 0 #00065a;
$font_system-ui:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;

.registrar-matricula {
      padding: 15px 40px;
      font-family: $font_system-ui;

      &__title {
            text-align: center;
      }

      .registrar-matricula__datos {
            margin: 20px 0;
      }

      select-list {
            display: block;
            width: 200px;
            height: 50px;
      }

      &__subtitle {
            font-size: 1rem;
            text-decoration: underline;
            margin-bottom: 20px;
      }

      &__attribute {
            font-size: 0.8125rem;
            font-weight: bold;
      }

      &__data {
            font-size: 0.75rem;
      }

      &__horario {
            &-content {
                  display: flex;
                  justify-content: center;
            }

            &-table {
                  transform: scale(0.74);
                  font-size: 0.75rem;
                  text-align: center;
                  padding: 2px;
                  border-collapse: collapse;
                  border-color: #0044ff;
                  box-shadow: 2px 1px 10px 0 #0000004d;
                  font-family: $font_lexend;
            }

            &-header-item {
                  font-size: 0.8125rem;
                  background-color: #00b7ff;
                  border-width: 4px;
                  border-style: solid;

                  &:first-child {
                        padding: 10px 0;
                  }
            }

            &-body-item {
                  border-width: 4px;
                  border-style: solid;
                  text-align: center;
                  padding: 10px;
                  min-width: 100px;
                  text-transform: capitalize;
            }

            &-body-recreo &__body-item {
                  text-align: center;
                  padding: 10px;
                  min-width: 100px;
            }
      }

      &__opciones {
            display: flex;
            justify-content: center;
      }

      &__button {
            margin: 30px;
            width: 200px;
            height: 50px;
            font-family: $font_lexend;
            border: none;
            background: $color-btnDownloadHorario;
            color: white;
            border-radius: 10px;
            transition:
                  background 0.2s,
                  box-shadow 0.2s;
            font-size: 15px;

            &:hover {
                  cursor: pointer;
                  background: #220080;
                  box-shadow: $sombra-input;
            }
      }
}
