<section class="registrar-pago-mensual">
    <h2 class="registrar-pago-mensual__title"><text-gradient text="Pago Mensual" /></h2>
    <section class="registrar-pago-mensual__selector">
        <select-list
            default="Escoge a tu hijo"
            [items]="stutentList"
            (changeElement)="updateDataStudentSelect($event)"
            styleSelect="bg-blue white"
            styleOption="bg-dark-blue"
        />
    </section>
    @if (studentSelect) {
        <h3 class="registrar-pago-mensual__pending-title">Pagos pendientes mensuales</h3>
        <table class="registrar-pago-mensual__table">
            <thead class="registrar-pago-mensual__thead">
                <tr class="registrar-pago-mensual__tr">
                    <th class="registrar-pago-mensual__th">N°</th>
                    <th class="registrar-pago-mensual__th">Costo</th>
                    <th class="registrar-pago-mensual__th">Acciones</th>
                </tr>
            </thead>
            <tbody class="registrar-pago-mensual__tbody">
                @for (Pago of mensualidadesPendientes; track $index) {
                    <tr class="registrar-pago-mensual__tr">
                        <td class="registrar-pago-mensual__td">{{ $index + 1 }}</td>
                        <td class="registrar-pago-mensual__td">{{ Pago.pay }}</td>
                        <td class="registrar-pago-mensual__td">
                            <input
                                type="button"
                                class="registrar-pago-mensual__button"
                                value="Ver detalles"
                                (click)="verDetalles(Pago.idPago)"
                            />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (isDetalles) {
            <h3 class="registrar-pago-mensual__details-title">Ver detalles</h3>
            <div class="options">
                <button-payment
                    class="registrar-pago-mensual__payment"
                    [dinero]="pagoSelect?.pay || 0"
                    [idPay]="pagoSelect?.idPago || 0"
                ></button-payment>
            </div>
        } @else {
            <span class="registrar-pago-mensual__message">Haga clic en "Ver detalles" en uno</span>
        }
    } @else {
        <span class="registrar-pago-mensual__message">Seleccione un hijo</span>
    }
</section>
