.registrar-pago-matricula {
      padding: 15px 40px;
      font-family: system-ui;

      &__title {
            text-align: center;
      }
      .registrar-matricula__datos {
            margin: 20px 0;
      }

      atom-select {
            display: block;
            width: 200px;
            height: 50px;
      }

      .options {
            min-width: 80%;
            min-height: 100%;
            display: flex;
            justify-content: center;

            div {
                  width: 100%;
            }
      }
}
