<atom-link [route]="`../../course/${codeCourse()}`">
    <menu-exit />
</atom-link>
<div id="template">
    <header class="mb-5 text-center font-rubik_dirt font-600 text-4xl">
        <atom-text
            tag="h2"
            [text]="resource().nombre"
            themeStyle="gradient-45deg-red-darkblue-purple"
        />
    </header>
    <main>
        @for (item of resource().items; track $index) {
            @switch (item.tipo) {
                @case ('text') {
                    <atom-text tag="h3" class="block" [text]="item.contenido" />
                }
                @case ('file') {
                    <atom-link [isExternal]="true" [route]="item.route ?? ''" target="_blank">
                        <article class="bg-[#F8F8F8] w-full flex justify-between px-6">
                            <section>{{ item.contenido }}</section>
                        </article>
                    </atom-link>
                }
                @case ('image') {
                    <img
                        [src]="item.route"
                        [alt]="item.contenido"
                        class="max-h-[350px] my-[20px]"
                    />
                }
                @case ('link') {
                    <atom-link
                        class="text-blue-800"
                        [text]="item.contenido"
                        [isExternal]="true"
                        [route]="item.route ?? ''"
                        target="_blank"
                    />
                }
            }
        } @empty {
            <atom-text
                [class]="'flex w-[90%] mb-[10px]'"
                [className]="'inline-block size-full'"
                text="NO HAY RECURSOS"
            />
        }
    </main>
</div>
<style>
    #template {
        @apply py-[15px] px-[40px] max-h-[75vh] w-[70vw];
        @apply flex flex-col overflow-auto;

        &::-webkit-scrollbar {
            @apply w-[15px] bg-[#ff0080] rounded-[10px];
        }
        &::-webkit-scrollbar-thumb {
            @apply rounded-[10px] bg-[#000980] cursor-pointer;
        }
    }
</style>
