<div class="container">
    <section class="login__left">
        <atom-label
            text="Colegio"
            themeStyle="gradient-red-darkblue-purple"
            className="text-[60px] font-600 leading-[1px] font-rubik_dirt"
        />
    </section>
    <section class="login__right">
        <form [formGroup]="profile()" (submit)="submitForm.emit()" class="login__form">
            <div class="login__data">
                <atom-label
                    text="Usuario:"
                    forId="username"
                    [class]="'font-lexend text-[25px] text-[#ecfffe]'"
                />
                <atom-input
                    [control]="formUtil.getFormControl('username')"
                    [message]="getMessage('username', 'El usuario es obligatorio', '', 'Correcto')"
                    [valid]="{isValid:formUtil.getValid('username')}"
                    placeholder="Ingrese usuario"
                    forId="username"
                    [class]="`w-full m-auto`"
                    styleTheme="purple"
                    [className]="`font-geologica rounded-[10px] 
                                size-full px-[13px] h-[35px] py-[5px] text-[15px]`
                    "
                />
                <atom-label
                    text="Contraseña:"
                    forId="password"
                    [class]="'font-lexend text-[25px] text-[#ecfffe]'"
                />
                <atom-password
                    [control]="formUtil.getFormControl('password')"
                    [message]="getMessage('password', 'El password es obligatorio', 'El password necesita 8 digitos', 'Correcto')"
                    [valid]="{isValid:formUtil.getValid('password')}"
                    placeholder="Ingrese contraseña"
                    forId="password"
                    [class]="`w-full m-auto`"
                    styleTheme="purple"
                    [className]="`font-geologica rounded-[10px] 
                                size-full pl-[13px] h-[35px] pr-0 py-[5px] text-[15px]`
                    "
                />
            </div>
            <div class="login__options">
                <atom-button
                    text="Iniciar Sesión"
                    type="submit"
                    themeStyle="white-skyblue"
                    [className]="`text-[#000141] text-[17px] font-geologica 
                                rounded-[15px] size-full`
                    "
                />
            </div>
        </form>
    </section>
</div>
