<div id="panel">
    <!-- panel skyblue -->
    <div class="absolute w-[35.8%] h-full rounded-[40px] bg-[#ffe8b9] self-end"></div>
    <!-- para el formulario -->
    <div class="content">
        <div class="mt-8">
            <img src="logo/sin-fondo.png" alt="logo-colegio" />
            <atom-text tag="span" text="Welcome Colegio" />
        </div>
        <atom-text tag="h1" text="Colegio" class="title" />
        <form [formGroup]="profile()" (submit)="evtSubmitLogin.emit()">
            <div class="gap-5">
                <div class="gap-[7px]">
                    <atom-text tag="label" text="Usuario:" forId="username" />
                    <atom-input
                        [control]="formUtil.getFormControl('username')"
                        [message]="getMessage('username', 'El usuario es obligatorio', '', 'Correcto')"
                        [valid]="{isValid:formUtil.getValid('username')}"
                        placeholder="Ingrese usuario"
                        forId="username"
                        styleTheme="purple"
                        [className]="`rounded-[10px] size-full pl-[13px]`"
                    />
                </div>
                <div class="gap-[7px]">
                    <atom-text tag="label" text="Contraseña:" forId="password" />
                    <atom-password
                        [control]="formUtil.getFormControl('password')"
                        [message]="getMessage('password', 'La contraseña es obligatorio', 'La contraseña necesita 8 digitos', 'Correcto')"
                        [valid]="{isValid:formUtil.getValid('password')}"
                        placeholder="Ingrese contraseña"
                        forId="password"
                        styleTheme="purple"
                        [className]="`rounded-[10px] size-full pl-[13px]`"
                    />
                </div>
            </div>
            <atom-button
                text="Iniciar Sesión"
                type="submit"
                themeStyle="blue-purple"
                className="size-full rounded-[23px]"
            />
        </form>
    </div>
    <!-- images -->
    <section
        [class]="`
                absolute h-full z-10 self-end
                max-[750px]:hidden
            `"
    >
        <div class="relative size-full flex">
            <img
                src="student-laptop.png"
                alt="student-laptop"
                [class]="`
                    h-[703px] mr-28 mt-auto z-20
                    max-[1200px]:h-[603px] max-[1200px]:mr-0
                    max-[1060px]:h-[403px]
                `"
            />
            <icon-cactus
                [className]="`
                    absolute bottom-10 right-28 w-[200px]
                    max-[1200px]:right-10 max-[1200px]:h-[500px]
                    max-[1060px]:h-[400px]
                `"
            />
        </div>
    </section>
</div>
