<atom-link route="../../">
    <menu-exit />
</atom-link>
<div id="template">
    <header class="mb-5 text-center font-rubik_dirt font-600 text-4xl">
        <atom-label
            [text]="course().nombre"
            themeStyle="gradient-45deg-red-red-darkblue-purple-purple"
        />
    </header>
    <!-- Profesores -->
    <div class="course__professors">
        <details>
            <summary class="course__professors-title">Profesores:</summary>
            <div class="course__professors-list">
                @for (profesor of course().profesores; track $index) {
                <div class="course__professor">{{ profesor }}</div>
                }
            </div>
        </details>
    </div>
    <atom-line-separator />
    <div class="course__data">
        <details>
            <summary class="course__data-title">Datos:</summary>
            <div class="course__data-list">
                <div class="course__data-item"><span>Día: </span>{{ course().dia }}</div>
                <div class="course__data-item">
                    <span>Hora de Inicio: </span>{{ course().horaInicio }}
                </div>
                <div class="course__data-item">
                    <span>Hora de Salida: </span>{{ course().horaFin }}
                </div>
                <div class="course__data-item">
                    <span>Piso: </span>{{ course().piso }}
                </div>
                <div class="course__data-item">
                    <span>Salón: </span>{{ course().numeroSalon }}
                </div>
                <div class="course__data-item">
                    <span>Número de Sesiones:</span>{{ course().numeroSesiones }}
                </div>
            </div>
        </details>
    </div>
    <atom-line-separator />
    <details open class="course__contents">
        <summary class="course__contents-title">Contenido:</summary>
        <div class="course__contents-list">
            @for (contenido of course().contenidos; track $index) {
            <card-course-section
                [content]="contenido"
                (selectedContent)="handleClick($event)"
            />
            }
        </div>
    </details>
</div>
<style>
    #template {
        @apply py-[15px] px-[40px] max-h-[75vh] w-[70vw];
        @apply flex flex-col overflow-auto;

        &::-webkit-scrollbar {
            @apply w-[15px] bg-[#ff0080] rounded-[10px];
        }
        &::-webkit-scrollbar-thumb {
            @apply rounded-[10px] bg-[#000980] cursor-pointer;
        }
    }
</style>
