<section class="incidentes">
    <h2 class="incidentes__title"><text-gradient text="Reportes" /></h2>
    <div class="incidentes__select-wrapper">
        <select-list
            default="Selecciona a tu hijo"
            [items]="studentsList"
            styleSelect="bg-celeste white"
            styleOption="bg-white pink"
            (changeElement)="updateDataStudentSelect($event)"
        />
    </div>
    <div class="incidentes__table-wrapper">
        @if (studentSelectDNI != "0") {
            <table class="incidentes__table" border="2">
                <thead class="incidentes__table-head">
                    <tr class="incidentes__table-row">
                        <th scope="col" class="incidentes__table-header">#</th>
                        <th scope="col" class="incidentes__table-header">Fecha</th>
                        <th scope="col" class="incidentes__table-header">Descripción</th>
                        <th scope="col" class="incidentes__table-header">Auxiliar</th>
                    </tr>
                </thead>
                <tbody class="incidentes__table-body">
                    @for (reporte of reportes; track $index) {
                        <tr class="incidentes__table-row">
                            <th scope="row" class="incidentes__table-item" rowspan="2">
                                {{ $index + 1 }}
                            </th>
                            <th class="incidentes__table-item" rowspan="2">{{ reporte.date }}</th>
                            <th class="incidentes__table-item" rowspan="2">
                                {{ reporte.description }}
                            </th>
                            <th class="incidentes__table-item">{{ reporte.assistant }}</th>
                        </tr>
                        <tr class="incidentes__table-row">
                            <th class="incidentes__table-item">
                                {{ reporte.phoneNumberAssistant }}
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>
