.card {
      box-shadow: 0 2px 2px 1px #0000004d;
      margin-bottom: 10px;
      background-color: #fff;
      border-radius: 10px;
      &-title {
            box-shadow: 0 0 3px 2px #0000004d;
            display: flex;
            align-items: center;
            background: #00054e;
            color: #ffffff;
            padding: 20px 5px;
            margin-bottom: -1px;
            max-height: 60px;
            transition: 0.1s ease-in-out;
            border-radius: 10px;
            &:hover {
                  background: #370f83;
            }
      }
}
