:host {
      display: flex;
      justify-content: center;
}
div {
      width: 95%;
      position: relative;
      height: 1px;
      z-index: 800;
      background: linear-gradient(
            45deg,
            #4032ff93,
            #913dff93,
            #ff2f9e93,
            #4032ff93,
            #4032ff93,
            #913dff93,
            #ff2f9e93,
            #4032ff93
      );
      background-size: 300%;
      background-position: 300% 0;
      animation: separation 20s linear infinite;
      border-radius: 2px;
}

@keyframes separation {
      0% {
            background-position: 0 0;
      }

      50% {
            background-position: 300% 0;
      }

      100% {
            background-position: 0 0;
      }
}
