$radius__50_32h: 10px;

input {
      box-sizing: border-box;
      font-family: lexend;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0 13px;
      background: #ff0080;
      font-size: 15px;
      color: #ecfffe;
      box-shadow: 0 1px 1px 0px black;
      border-radius: $radius__50_32h;
      line-height: 36px;

      &::-ms-input-placeholder {
            color: #ecfffe;
      }

      &::placeholder {
            color: #ecfffe;
      }

      &::selection {
            background: #240079;
            color: #ffffff;
      }
}
