<div class="course">
    @if (ver == "cursos") {
        <h2 class="course__title">
            <atom-label
                [class]="'font-rubik_dirt font-600 text-4xl leading-[1px]'"
                text="Cursos"
                themeStyle="gradient-45deg-red-red-darkblue-purple-purple"
            />
        </h2>
        <div class="course__filters">
            <!-- filtro por hijos -->
        <atom-select
                default="Selecciona a tu hijo"
                styleSelect="bg-blue white"
                styleOption="bg-dark-blue"
                id="select-hijo"
            />

            <!-- Filtros por cursos temporadas-->
            <input-text
                placeholder="Busque sus cursos por nombre"
                [text]="nameFind"
                (search)="setNameFind($event)"
            />
        <atom-select
                default="Periodos"
                [items]="temporadasLst"
                styleSelect="bg-blue white"
                styleOption="bg-dark-blue"
                (changeElement)="updateDataCoursesSelect($event)"
                id="select-periodo"
            />
        </div>

        <!-- Lista de cursos -->
        <div class="course__list">
            @for (curso of cursos; track $index) {
                <card-course
                    [portada]="curso.portada"
                    [name]="curso.nombre"
                    [code]="curso.codigo"
                    [profesores]="['Juan Perez']"
                    (eventClick)="verSeleccionado($event.contenido, $event.codigo)"
                />
            } @empty {
                <p class="course__empty">No se encontraron cursos</p>
            }
        </div>
    } @else if (ver == "curso" && rol == "student") {
        <menu-exit (exit)="verSeleccionado('cursos', null)" />
        <course-content
            [course]="cursoSelect"
            [rol]="rol"
            (selectedResource)="viewResource($event)"
        />
    } @else if (ver == "recurso" && rol == "student") {
        <menu-exit (exit)="verSeleccionado('curso', cursoCodeSelect)" />
        <recurso [recurso]="recursoSelect" />
    } @else if (ver == "curso" && rol == "teacher") {
        <menu-exit (exit)="verSeleccionado('cursos', null)" />
        <course-content
            [course]="cursoSelect"
            (selectedResource)="viewResource($event)"
        />
    }
</div>
