<table class="font-lexend font-500 h-full">
    <thead>
        <tr>
            <th>Fecha</th>
            <th></th>
            @for (dia of historial()[0].dias; track $index) {
                <th>{{ dia.name }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (semana of historial(); track $index) {
            <tr>
                <td class="h-5 min-w-[1px] border-none"></td>
            </tr>
            <tr class="row">
                <td class="semana" rowspan="2">
                    {{ semana.name }}
                </td>
                <td class="entrada">Entrada</td>
                @for (day of semana.dias; track $index) {
                    <td
                        [class]="
                            getClasesEntradaSalida(
                                day.entrada.status,
                                day.elementoFinal,
                                'entrada'
                            )
                        "
                    >
                        {{ day.entrada.content }}
                    </td>
                }
            </tr>
            <tr class="row">
                <td class="salida">Salida</td>
                @for (day of semana.dias; track $index) {
                    <td
                        [class]="
                            getClasesEntradaSalida(
                                day.salida.status,
                                day.elementoFinal,
                                'salida'
                            )
                        "
                    >
                        {{ day.salida.content }}
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
