thead th {
      background: #000157;
      border: 3px solid #000157;
      color: #dbf8ff;
      padding: 1rem 0.9rem;
      text-align: center;
}
tbody {
      .row {
            background: #0855f2;
            color: #dbf8ff;

            &:nth-child(3n) {
                  border-top: 1px solid #cdd6ff;
            }
            td {
                  padding: 0.9rem;
                  text-align: center;
                  transition: 0.1s background;
                  &.semana {
                        border-radius: 10px;
                        border-right: 1px solid #ffffff;
                  }
                  &.entrada {
                        border-radius: 20px 0px 0px 0;
                  }
                  &.salida {
                        border-radius: 0 0 0 20px;
                  }
                  &.final {
                        &-entrada {
                              border-radius: 0 20px 0px 0;
                        }

                        &-salida {
                              border-radius: 0 0 20px 0;
                        }
                  }
                  &.asistencia {
                        background: #00ff2a;
                        color: #000000;
                        transition: 0.1s background;

                        &:hover {
                              background: #33ff88;
                              color: #28005c;
                        }
                  }
                  &.falta {
                        background: #ff2353;
                        color: #ffffff;
                        transition: 0.1s background;

                        &:hover {
                              background: #ff6a97;
                              color: #28005c;
                        }
                  }
                  &.date {
                        cursor: pointer;

                        &:hover {
                              background: #000157;
                              color: #ffffff;
                        }
                  }
            }
      }
}
