$font_lexend: lexend, System-UI;

.history {
      padding: 15px 40px;

      &__filter {
            margin-bottom: 15px;

            select-list {
                  display: block;
                  width: 200px;
                  height: 50px;
            }
      }

      &__table-container {
            padding: 0 00px 20px 0px;
            border-radius: 10px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
      }

      &__table-nofound {
            font-family: $font_lexend;
      }
}
