<div class="history">
    <atom-text
        tag="h2"
        [class]="'font-rubik_dirt font-600 text-4xl w-full text-center'"
        text="Historial de Ingreso"
        themeStyle="gradient-45deg-red-red-darkblue-purple-purple"
    />
    <!-- para seleccionar algunos datos que pueden filtrar -->
    <nav class="history__filter">
        <atom-select
            default="Selecciona a tu hijo"
            styleSelect="bg-blue white"
            styleOption="bg-dark-blue"
        />
    </nav>
    <!-- tabla para mostrar datos -->
    <main class="history__table-container">
        @if (historial()) {
            <table-attendance-history [historial]="historial()" />
        } @else {
            <span class="history__table-nofound"
                >No tiene un historial de ingreso para ver</span
            >
        }
    </main>
</div>
