<div class="py-[15px] px-[40px]">
    <atom-text
        tag="h2"
        [class]="'font-rubik_dirt font-600 text-4xl w-full text-center'"
        text="Horario"
        themeStyle="gradient-45deg-red-red-darkblue-purple-purple"
    />
    <header class="flex flex-row gap-[15px] my-[15px] mx-0">
        <atom-select
            default="Selecciona a tu hijo"
            [class]="'block w-[200px] h-[50px]'"
            [items]="studentsList()"
            styleSelect="bg-blue white"
            styleOption="bg-dark-blue"
            (changeElement)="changeChildEvent($event)"
        />

        @if (studentSelectDNI != "0") {
            <atom-select
                default="Selecciona un año"
                [class]="'block w-[200px] h-[50px]'"
                [items]="temporadasList()"
                styleSelect="bg-blue white"
                (changeElement)="changeChildHorarioEvent($event, studentSelectDNI)"
            />
        }
    </header>
    @if (studentSelectDNI == "0") {
        <atom-text
            class="flex font-lexend justify-center w-full"
            text="Usted no tiene ningún hijo seleccionado"
        />
    } @else if (!horarioView) {
        <atom-text
            class="flex font-lexend justify-center w-full"
            text="Usted no tiene un año escojido"
        />
    } @else {
        <main class="flex items-center justify-center flex-col my-[20px] mx-0">
            <table-horario [dayHorarioList]="daysHorario()" />
        </main>
        <footer class="flex items-center justify-center">
            <atom-button
                text="Descargar horario"
                class="download-button"
                themeStyle="purple"
                [className]="'size-full rounded-[10px]'"
                (evtClick)="donwloadHorario()"
            />
        </footer>
    }
</div>
<style>
    .download-button {
        @apply font-lexend m-[30px] w-[200px] h-[50px];
        @apply text-[15px] text-white;
        transition:
            background 0.2s,
            box-shadow 0.2s;
    }
</style>
