<article>
    <header class="*:h-[100px]">
        <img [src]="portada()" alt="Portada del curso" class="w-[380px]" />
    </header>
    <main class="m-2.5 flex flex-col gap-2.5">
        <atom-text [text]="name()" />
        <atom-text [text]="code()" />
        <atom-text [text]="textProfesores()" />
    </main>
</article>

<style>
    article {
        @apply relative cursor-pointer font-lexend bg-white text-[15px] top-0 duration-300 rounded-[10px] overflow-hidden text-black;
        border: 1px solid rgb(179, 179, 179);
        box-shadow: 0 0 10px 2px #0000004d;

        &:hover {
            @apply -top-[10px];
            box-shadow: 3px 10px 16px 0px #0000005e;
        }
    }
</style>
