$font_lexend: lexend, System-UI;

$color__background-header: #000157;
$border-header: 3px solid #000157;
$color__header: #dbf8ff;

$color__background-row: #0855F2;
$color-row: #dbf8ff;
$border__separacion: 1px solid #CDD6FF;
$color__background-row--hover: #000157;
$color-row--hover: #ffffff;

$border__separacion-semana: 1px solid #ffffff;

// asistencia
$color__background-row--asistencia: #00ff2a;
$color-row--asistencia: #000000;
$color__background-row--asistencia--hover: #33ff88;
$color-row--asistencia--hover: #28005c;
// falta
$color__background-row--falta: #ff2353;
$color-row--falta: #ffffff;
$color__background-row--falta--hover: #ff6a97;
$color-row--falta--hover: #28005c;

.history {
        &__table {
                font-family: $font_lexend;
                border-collapse: collapse;
                font-weight: 500;
                height: 100%;
        }

        &__row-space {
                background: transparent;

                td {
                        height: 20px;
                        min-width: 1px;
                        border: none;
                }
        }

        &__head {
                &-row {}

                &-item {
                        background: $color__background-header;
                        border: $border-header;
                        color: $color__header;
                        padding: 1rem 0.9rem;
                        text-align: center;
                }
        }

        &__body {
                &-row {
                        background: $color__background-row;
                        color: $color-row;

                        &:nth-child(3n) {
                                border-top: $border__separacion;
                        }
                }

                &-date {
                        cursor: pointer;

                        &:hover {
                                background: $color__background-row--hover;
                                color: $color-row--hover;
                        }
                }

                &-item {
                        padding: 0.9rem;
                        text-align: center;
                        transition: 0.1s background;

                        &--semana {
                                border-radius: 10px;
                                border-right: $border__separacion-semana;
                        }

                        &--entrada {
                                border-radius: 20px 0px 0px 0;
                        }

                        &--salida {
                                border-radius: 0 0 0 20px;
                        }

                        &--final {
                                &-entrada {
                                        border-radius: 0 20px 0px 0;
                                }

                                &-salida {
                                        border-radius: 0 0 20px 0;
                                }
                        }

                        &--asistencia {
                                background: $color__background-row--asistencia;
                                color: $color-row--asistencia;
                                transition: 0.1s background;

                                &:hover {
                                        background: $color__background-row--asistencia--hover;
                                        color: $color-row--asistencia--hover;
                                }
                        }

                        &--falta {
                                background: $color__background-row--falta;
                                color: $color-row--falta;
                                transition: 0.1s background;

                                &:hover {
                                        background: $color__background-row--falta--hover;
                                        color: $color-row--falta--hover;
                                }
                        }
                }
        }
}