@font-face {
      font-family: "Lexend Variable";
      src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf")
            format("truetype-variations");
      font-weight: 100 900;
      font-display: swap;
}
@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Thin.ttf") format("truetype");
      font-weight: 100;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-ExtraLight.ttf") format("truetype");
      font-weight: 200;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Light.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Medium.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-ExtraBold.ttf") format("truetype");
      font-weight: 800;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Lexend";
      src: url("/fonts/Lexend/static/Lexend-Black.ttf") format("truetype");
      font-weight: 900;
      font-style: normal;
      font-display: swap;
}
