<article class="course__item" (click)="handleClick()">
      <div class="course__item-cover">
            <div class="course__item-cover-overlay"></div>
            <img
                  [src]="portada"
                  alt="Portada del curso"
                  class="course__item-cover-image"
            />
      </div>
      <div class="course__item-details">
            <div class="course__item-name">{{ name }}</div>
            <div class="course__item-code">{{ code }}</div>
            <div class="course__item-teacher">{{ profesores[0] }}</div>
      </div>
</article>
