<section class="notas">
    <h2 class="notas__title">
        <atom-label
            [class]="'font-rubik_dirt font-600 text-4xl leading-[1px]'"
            text="Notas Generales"
            themeStyle="gradient-45deg-red-red-darkblue-purple-purple"
        />
    </h2>

    <div class="notas__filters">
        <select-list
            default="Escoje a uno de tus crios"
            styleSelect="bg-blue white"
            styleOption="bg-dark-blue"
        />
        <select-list
            default="Periodos"
            [items]="temporadasList"
            styleSelect="bg-blue white"
            styleOption="bg-dark-blue"
            (changeElement)="updateDataCoursesSelect($event)"
        />
    </div>
    <div class="notas__values">
        @if (cursoNotas) {
            <table class="notas__table" border="1">
                <thead class="notas__header">
                    <tr class="notas__header-row">
                        <th class="notas__header-item">N°</th>
                        <th class="notas__header-item">Curso</th>
                        @for (periodo of cursoNotas.periodos; track $index) {
                            <th class="notas__header-item">{{ periodo }}</th>
                        }
                    </tr>
                </thead>
                <tbody class="notas__body">
                    @for (cursoNota of cursoNotas.promedioList; track $index) {
                        <tr class="notas__body-row">
                            <td class="notas__body-item">{{ $index + 1 }}</td>
                            <td class="notas__body-item">{{ cursoNota.nombre }}</td>
                            @for (nota of cursoNota.promedios; track $index) {
                                <td class="notas__body-item">
                                    @if (nota) {
                                        {{ nota }}
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            No hay promedios que mostrar
        }
    </div>
</section>
