$font_lexend: lexend, System-UI;

$color__background-filter: #240079;
$radius__50_32h: 10px;
$z-index_list: 900;
$radius__item: 10px;

/* all */
.notas {
      padding: 20px 40px;
      max-height: 75vh;
      max-width: 70vw;
      display: flex;
      flex-direction: column;
      overflow: auto;
      animation: identifier 2s linear infinite;

      &::-webkit-scrollbar {
            width: 15px;
            background-color: #ff0080;
            border-radius: 10px;

            &-thumb {
                  border-radius: 10px;
                  background: #000980;
                  cursor: pointer;
            }
      }

      &__title {
            text-align: center;
      }
}

/* notas */
.notas {
      &__filters {
            display: flex;
            margin: 5px 0;
            padding: 10px;
            flex-direction: row;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            select-list {
                  display: block;
                  width: 200px;
                  height: 50px;
            }
      }
}

/* notas la tabla */
.notas {
      &__values {
            display: flex;
            justify-content: center;
      }

      &__table {
            font-family: $font_lexend;
            box-shadow: 0 0 10px 2px #0000004d;
            border-collapse: collapse;
      }

      &__header {
      }

      &__header-row {
      }

      &__header-item {
            padding: 5px 10px;
      }

      &__body {
      }

      &__body-row {
            &:hover {
                  background: #dfdfdf;
            }
      }

      &__body-item {
            text-align: center;
            padding: 2.4px 0px;

            &:nth-child(2) {
                  text-align: left;
                  padding-left: 7px;
                  cursor: pointer;
            }
      }

      &__body-item,
      &__header-item {
            font-size: 0.85rem;
            border: 2px solid black;
      }
}
