.pink {
      .cover {
            fill: #4264ff;
            stroke: #6200ff;
            stroke-width: 4;
      }

      .page {
            fill: #ff0077;
      }

      .inner-page {
            fill: #ff0077;
      }

      .spine {
            fill: #2c3e50;
      }
}
