$color__fondo-data: #ffffff;
$linear-gradient-azul-morado-fuxea: linear-gradient(
      45deg,
      #4032ff93,
      #913dff93,
      #ff2f9e93,
      #4032ff93,
      #4032ff93,
      #913dff93,
      #ff2f9e93,
      #4032ff93
);
$z-index_content-before: -1;

.perfil {
      position: relative; // Necesario para el posicionamiento de ::before
      padding: 10px 0;
      background-color: $color__fondo-data;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      font-family: lexend;

      &::before {
            $border: 1px;
            position: absolute; // Para posicionarlo respecto a __content
            content: "";
            border-radius: 10px;
            background-position: 800% 0;
            width: 100%;
            height: 100%;
            z-index: $z-index_content-before; // Asegúrate de que sea menor que el z-index del contenido
            left: -$border;
            top: -$border;
            padding: $border * 2;
            filter: blur(3px * 2);
            background: $linear-gradient-azul-morado-fuxea;
            background-size: 800%;
            box-shadow: 0 0 3px 2px #0000004d;
            animation: background_animation 20s linear infinite;
      }

      &__data {
            display: flex;
            flex-direction: column;
            margin: 10px;
            font-size: 12px;
      }

      &__label {
            margin: 3px 0;
      }

      &__options {
            display: flex;
            justify-content: center;
            padding: 10px;
      }

      &__link {
            text-decoration: none;
            color: black;
            background-color: #ffffff;
            border: none;
            margin: 0 16px;
            font-family: "Work Sans";
            font-size: 12px;
            font-weight: bold;
            padding: 10px 45px;
            border-radius: 3px;
            box-shadow: 0 0 2px 1px #0000004d;
            transition:
                  0.1s background,
                  0.1s color;
            cursor: pointer;

            &:hover {
                  color: #9af8ff;
                  background: #19008a;
                  box-shadow: 2px 2px 2px 0px #0000004d;
            }
      }
}

@keyframes background_animation {
      0% {
            background-position: 0 0;
      }

      50% {
            background-position: 800% 0;
      }

      100% {
            background-position: 0 0;
      }
}
