$font_lexend: lexend, System-UI;
$table__border: 5px solid #3900d4;
$table__border-item: 5px solid #d80048;
$table__border-header: 5px solid #000441;

.incidentes {
      padding: 15px 40px;

      &__title {
            padding: 10px 0px 20px 0;
            text-align: center;
      }

      select-list {
            display: block;
            height: 50px;
            width: 200px;
      }

      &__table-wrapper {
            width: 100%;
            margin: 3% 0;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      &__table {
            position: relative;
            border-collapse: collapse;
            border: $table__border;
            background-color: #fff;
            font-family: $font_lexend;
            font-weight: normal;
            overflow: auto;
            width: 90%;

            &-head {
            }

            &-row {
            }

            &-header {
                  color: white;
                  background-color: #000441;
                  border: $table__border-header;
                  padding: 5px 10px;
                  font-size: 0.8rem;
            }

            &-body {
            }

            &-item {
                  border: $table__border-item;
                  font-size: 0.75rem;
                  padding: 5px 10px;
            }
      }
}
