<article
    [class]="
        'relative cursor-pointer font-lexend bg-white text-[15px] rounded-lg ' +
        'overflow-hidden text-slate-800 transition-all duration-300 shadow-md ' +
        'border border-slate-200 hover:shadow-xl hover:-translate-y-2 max-w-[340px]'
    "
>
    <header>
        <img
            [ngSrc]="portada()"
            [alt]="'Portada del curso ' + name()"
            width="340"
            height="210"
            class="aspect-video object-cover h-[100px]"
        />
    </header>
    <main class="flex flex-col gap-3 p-4">
        <atom-text tag="h3" [text]="name()" className="text-lg font-semibold text-slate-800" />

        <div class="flex flex-col gap-1.5">
            <atom-text tag="p" [text]="code()" className="text-sm font-medium text-blue-600" />
            @if (profesores().length > 0) {
                <atom-text tag="p" [text]="textProfesores()" className="text-sm text-slate-500" />
            }
        </div>
    </main>
</article>
