$font_lexend: lexend, System-UI;
$background-menu: linear-gradient(
      45deg,
      #4032ff,
      #913dff,
      #ff0080,
      #4032ff,
      #4032ff,
      #913dff,
      #ff0080,
      #4032ff
);

.nav {
      position: relative;
      display: inline-block;
}

.nav-list {
      position: relative;
      width: 200px;
      padding: 50px 30px;
      display: flex;
      flex-direction: column;
      font-family: $font_lexend;
      box-shadow: 0px 0px 10px 0px #0000004d;
      gap: 25px;
      background-color: #ffffff28;
      border-radius: 10px;
}

.nav-item {
      list-style: none;
      position: relative;
      z-index: 2;

      a {
            text-decoration: none;
            border: none;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            height: 35px;
            background-color: #fff;
            color: #1a3cff;
            transition:
                  background 0.1s,
                  color 0.1s;
            font-size: 0.9rem;
            font-weight: bold;
            border-radius: 50px;

            &:hover {
                  color: #1a3cff;
                  background: #e0e0e0;
            }
      }

      &::before {
            $border-background: 2px;
            content: "";
            position: absolute;
            z-index: -1;
            background-position: 800% 0;
            width: 100%;
            height: 100%;
            left: -$border-background;
            top: -$border-background;
            box-shadow: 0 0 3px 2px #0000004d;
            background: $background-menu;
            background-size: 800%;
            animation: background_animation 40s linear infinite;
            border-radius: 50px;
            padding: $border-background;
            filter: blur(3px);
      }
}

@keyframes background_animation {
      0% {
            background-position: 0 0;
      }

      50% {
            background-position: 800% 0;
      }

      100% {
            background-position: 0 0;
      }
}
