@use "@angular/material" as mat;
@use "./app/core/styles/fonts/index.scss" as *;

* {
      margin: 0;
      padding: 0;
}
html,
body {
      height: 100%;
}
body {
      margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
}
