.course__resource {
        padding: 25px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &-name {}

        &-nota {
                margin-right: 20px;
        }

        &:hover {
                background: #eeeeee;
        }


}