<style>
    :host {
        @apply w-[100vw] h-[100vh] flex justify-center items-center;
        background: linear-gradient(90deg, #531fb3 0%, #6281ff 100%);
    }
</style>
<panel class="login">
    <div class="absolute w-[35.8%] h-full rounded-[40px] bg-crema self-end"></div>
    <main class="flex flex-col h-full z-30">
        <div class="mt-8">
            <img
                src="logo/sin-fondo.png"
                alt="logo-colegio"
                class="w-[200px] max-h-[780px]:w-[100px]"
            />
            <atom-text tag="span" text="Welcome Colegio" />
        </div>
        <atom-text
            tag="h1"
            text="Colegio"
            [class]="`
                mb-[41px] ml-[18px] text-[64px] font-potta_one
                max-[460px]:text-[40px] max-h-[600px]:ml-[11px]
                max-h-[600px]:text-[38px] 
            `"
        />
        <form-login />
    </main>
    <!-- images -->
    <section class="absolute h-full z-10 self-end max-[750px]:hidden">
        <div class="relative size-full flex">
            <img
                src="student-laptop.png"
                alt="student-laptop"
                [class]="`
                    h-[703px] mr-28 mt-auto z-20
                    max-[1200px]:h-[603px] max-[1200px]:mr-0
                    max-[1060px]:h-[403px]
                `"
            />
            <icon-cactus
                [className]="`
                    absolute bottom-10 right-28 w-[200px]
                    max-[1200px]:right-10 max-[1200px]:h-[500px]
                    max-[1060px]:h-[400px]
                `"
            />
        </div>
    </section>
</panel>
